@media(width < 1000px){
    .main{
        max-width: 800px;
    }
    .nosotros_container{
        max-width: 600px;
    }

    .container_item{
        flex-direction: column;
        background-color: var(--blanco);
    }
    .item_img{
        scale: .8;
        align-self: center;
    }
    .Cont_ti_parr{
        gap: .5em;
    }

    .card{
        scale: .8;
    }
}